---
---

@import "{{ site.theme }}";
section, div {
  max-width: 900px;
}
section {
  margin-top: 0px;
}
div {
  margin-bottom: 0 0 0 0;
}
code {
  display: inline-block;
  background-color: rgba(220, 224, 228, 0.1);
  margin: 2px;
  padding: 2px 6px;
}
