---
---

@import "{{ site.theme }}";

section, .wrapper {
  max-width: 900px;
}
section {
  margin-top: 0px;
}
section #title {
  margin: 0 0 0 0;
}
code {
  background-color: rgba(220, 224, 228, 0.1);
  margin: 2px;
  padding: 2px 6px;
}
sup code {
  display: inline;
  font-size: 95%;
}
a {
  color: cornflowerblue;
  text-decoration: underline;
}
a:hover {
  color: hotpink;
}
